<div class="container">
    <div class="row">
      <div class="col-2">
        </div>
      <div class="col-8">
        <nav class="navbar navbar-expand-lg navbar-light bg-black">
          <div class="container">
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <img src="../../assets/e_Filing_logo.jpg" alt="">
                </li>
                <li class="nav-item">
                  <img src="../../assets/Center_image_old (1).jpg" alt="">
                </li>
  
              </ul>
              <div class="d-flex">
                <ul class="navbar-nav me-auto  mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">FAQ's </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">| Contact |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link bg-light" href="https://e-filing.com/landingpage">View Demo</a>
                  </li>
  
                </ul>
  
              </div>
            </div>
          </div>
  
          .
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light AD ">
          <div class="container ">
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link  px-5 text-light AB-1" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-5 text-light AB-2" routerLink="about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-5 text-light AB-3" routerLink="guide">How to Guide</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="row ">
          <img src="../../assets/Center_image_old.jpg " alt="" width="100%" height="auto">
        </div>
        <div class="container AB">
        <div class="row ">
            <b class="Cp">Company Profile</b>
            <hr>
        </div>
    </div>
       
        <div class="container AB">
        <div class="row">
            <div class="col-8">
                <small class="Para">E-Filing.com is a corporation headquartered in Santa Barbara, California that began operation in September of 1999. E-Filing offers state-of-the-art technology that allows attorneys to process important legal documents electronically online. Filing cases electronically reduces the cost of filing drastically; eliminating much of the paper handling involved, and allows the courts to function more efficiently. In addition, E-Filing.com's electronic filing process makes it possible for documents to be submitted to the courts twenty-four hours a day from any location with Internet access.<br><br>

                    Electronic commerce has created ways of converting the conventional buying process into a web based electronic buying process that can be performed online, replacing the cashier's window you find at the store with an electronic window you can access through your web browser. If you've ever purchased merchandise online, you've used an electronic window to place the order. E-Filing has applied this concept to the process of court filings with the use of its Electronic Document Acceptance and Routing System (EDAR) Patented technology..<br><br>
                    
                    EDAR allows interactive communication between the filer and the court through an electronic window. Legal documents can be submitted, fees collected, and approved by the clerk of the court through the electronic window. Once the clerk of the court has approved the filing, it is given an electronic stamp of approval and an email is sent to the filer confirming approval of the document.
                    
                    Existing court staff members can use an electronic filing system. Staff training to implement this system is minimal - just 15 to 30 minutes to learn the basic functions of the software and the electronic stamping process. The electronic window performs essentially the same functions as the conventional filing system, only information normally stored on paper documents is now stored in the system and the traditional method for stamping documents received is replaced by an electronic stamp.<br><br>
                    
                    E-Filing.com has adopted legal XML (eXtensive Markup Language) standards to create a generalized electronic filing system that can be integrated with various court case management systems. Using a standard web browser, attorneys can access all the required forms, fill them out, and attach any additional files that need to be included. The documents are placed in an electronic "data envelope" customized to meet the requirements of the court where your case is being filed. The "data envelope" will accept documents in a wide variety of formats, including Microsoft Word (all versions), WordPerfect (all versions), PDF, and TIFF formats.<br><br>
                    
                    With the click of the mouse, the case is sent directly to the clerk of the court over a secure channel that is protected by 128bit encryption-the highest level of encryption available. After the case has been accepted, it is digitally stamped and sent to one of our affiliated process servers, or to the filer's choice of process servers to perfect service. Court fees are pre-programmed into the system and are paid directly to the courts when the documents are filed.</small>
           <div>
                    <img src="../../assets/Company_Profile_image.jpg" alt="">
                </div>
                
                </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-6 Abc"> 
                        <div class="text-secondary">
                            <em>
                                <b>
                                    Our Client
                                </b>
                            </em>
                        </div>
                    </div>
                        <div class="col-6">
                            <div class="text-secondary Abc">
                                <em>
                                    <b>
                                        Associate Sites
                                    </b>
                                </em>
                                <div class="py-2 AE">
                                    <a href="https://www.clerkepass.com/">www.clerkepass.com</a><br>
                                    <a href="http://www.imagexx.com/">www.imagexx.com</a><br>
                                   
                                   </div>
                            </div>
                        </div>
                   
                </div>
                <div class="row">
                    <div class="img-with-text text-center py-5 Abc" >
                        <img src="../../assets/Adobe_Reader.jpg" alt="sometext" />
                        <p>Adobe Acrabot Reader v6.0</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="container-fluid text-center text-md-left  AD">

            <!-- Grid row -->
            <div class="row AC">

              <!-- Grid column -->
              <div class="col-md-4 mt-md-0 py-3">

                <!-- Content -->

                <small class="text-light ">6464 Hollister Suite 7G <br>
                  Goleta, CA 93117</small>


              </div>
              <!-- Grid column -->

              <hr class="clearfix w-100 d-md-none ">

              <!-- Grid column -->
              <div class="col-md-4 mb-md-0  ">

                <!-- Content -->
                <small class="text-light">For Technical Support<br>
                  800-207-6807<br>
                  Monday-Friday<br>
                  8.00 AM to 5.00 PM</small>


              </div>
              <div class="col-md-4 mb-md-0 py-4 ">

                <!-- Content -->
                <small class="text-light">Technical Support</small>


              
              <!-- Grid column -->

            </div>
            <!-- Grid row -->

          </div>
          <!-- Footer Text -->
        </div>
        <div class="col-2"></div>
        </div>
        </div>
