.Cp{
    padding-top: 20px;
    font-size: 30px;
}
hr{
    border-top: dotted 1px;
}
.Para {
    font-size: 13px;
    border-right: 1px dotted darkgray;
}
.Abc{
    border: 1px dotted darkgrey;
}
.AB{
    background-color: #E9E9EC;
}
.AD{
    background-color:#65657F;
}
.AC{
    font-size: 10px;
}
.AE {
    color: slategrey;
    font-size: 10px;
}