<div class="container">
    <div class="row">
      <div class="col-2">
        <div class="position-absolute bottom-0 px-3 start-0">
          <span>
            <img src="../../assets/button-iphone.png" width="70px" height="auto">
            <img src="../../assets/button-android.png" width="70px" height="auto">
          </span>
        </div>
      </div>
      <div class="col-8">
        <nav class="navbar navbar-expand-lg navbar-light bg-black">
          <div class="container">
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <img src="../../assets/e_Filing_logo.jpg" alt="">
                </li>
                <li class="nav-item">
                  <img src="../../assets/final-logo.png" alt="">
                </li>
  
              </ul>
              <div class="d-flex">
                <ul class="navbar-nav me-auto  mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">FAQ's </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">| Contact |</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link bg-light" href="https://e-filing.com/landingpage">View Demo</a>
                  </li>
  
                </ul>
  
              </div>
            </div>
          </div>
  
          .
        </nav>
        <nav class="navbar navbar-expand-lg navbar-light AD">
          <div class="container">
  
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link  px-5 text-light AB-1" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-5 text-light AB-2" routerLink="about">About Us</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link px-5 text-light AB-3" routerLink="guide">How to Guide</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="row">
          <img src="../../assets/Center_image_old.jpg" alt="" width="100%" height="auto">
        </div>
        <div class="container-fluid ABC">
          <div class="row">
            <p class="list">
              If you are already registered with e-filing.com web portal then use registered Email Id and Password to
              login otherwise go to SignUp and register yourself. If you have any issue, please feel free to call our
              support at 805-364-0033 ext 107.
            </p>
          </div>
        </div>
        <div class="container ABC">
          <div class="row">
  
            <div class="col-7">
              
  
                <em>
                  <b>
                    File your Court Document Online !
                  </b>
                </em>
               
              
            
            <hr>
            <div>
              <img src="../../assets/Home_Page_Image.jpg">
              <small class="list">E-Filing.com, headquartered in Santa Barbara, California began its operation in September of 1999. E-Filing.com offers state-of-the art electronic filing process based on the patent no. 7,035,830 that was granted to Image X in 2006. Filing cases electronically reduces the cost of filing, eliminating much of the paper handling involved, and allows the courts to function more efficiently. In addition, E-Filing.com's electronic filing process makes it possible for documents to be submitted to the courts twenty-four hours a day from any location with Internet access.</small>
            </div>
            <div class="list">
              <ol>
                <li> Click Sign Up</li>
                <li>Complete the Form</li>
                <li>Write down your login ID and Password</li>
              </ol>
            </div>
            </div>
            <div class="col-5 pt-4">
              <app-form></app-form>
            </div>
            </div>
          </div>
            
          
  
        
  
  
  
          
              <div class="container-fluid text-center text-md-left AD">
  
                <!-- Grid row -->
                <div class="row AC">
  
                  <!-- Grid column -->
                  <div class="col-md-4 mt-md-0 py-3 ">
  
                    <!-- Content -->
  
                    <small class="text-light">6464 Hollister Suite 7G <br>
                      Goleta, CA 93117</small>
  
  
                  </div>
                  <!-- Grid column -->
  
                  <hr class="clearfix w-100 d-md-none ">
  
                  <!-- Grid column -->
                  <div class="col-md-4 mb-md-0 ">
  
                    <!-- Content -->
                    <small class="text-light">For Technical Support<br>
                      800-207-6807<br>
                      Monday-Friday<br>
                      8.00 AM to 5.00 PM</small>
  
  
                  </div>
                  <div class="col-md-4 mb-md-0 py-4 ">
  
                    <!-- Content -->
                    <small class="text-light">Technical Support</small>
  
  
                  
                  <!-- Grid column -->
  
                </div>
                <!-- Grid row -->
  
              </div>
              <!-- Footer Text -->
            </div>
            
              <!-- Copyright -->
  
            
            <!-- Footer -->
          </div>
  
  
        
      
      <div class="col-2">
        <div class="position-absolute bottom-0 end-0 mx-3 ">
          <img src="../../assets/CIO-add-small.png">
        </div>
      </div>
    </div>
  
